<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ACESSO.MODEL.Properties.Settings.ACESSOConnectionString"
            connectionString="Data Source=RES227548\SQLEXPRESS;Initial Catalog=ACESSO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ACESSO.MODEL.Properties.Settings.ACESSOConnectionString1"
            connectionString="Data Source=RES227548\sqlexpress;Initial Catalog=ACESSO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>